/* Webpack Test */
/* body {
    background-color: pink;
    background-image: url('./bg.png');
    background-repeat: no-repeat;
} */

/* NAVER 기본 body style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    background-color: #FFF;
    font-family:"Malgun Gothic", sans-serif;
}

ul li { list-style: none; }
a { text-decoration: none; }

.blind { display: none; }

h3 {  font-size: 14px; }

/* 이미지 사이즈는 본래 2배이기 때문에 절반 사이즈로 만들어준다. */
.splite {
    background: url('./sprite_img.png') no-repeat;
    background-size: 440px 408px;
}

.dot::after {
    content: '';
    display: inline-block;
    background-color: #c8ccd1;
    border-radius: 50%;
}

#wrap {
    overflow: hidden;
    min-width: 1190px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.header-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DDD;
}

.header-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1130px;
    height: 160px;
    padding: 3rem 0;
    margin: 0 auto;
}

.sub-site {
    position: absolute;
    top: 12px;
    right: 27px;
}

.sub-site ul li {
    display: inline-flex;
    flex-direction: row;
    cursor: pointer;
}

.bar-icon {
    display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0px 7px;
  background-color: #e4e8eb;
}

.sub-site ul li:last-child::after {
  content: '';
}

.sub-first {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.sub-first > a {
  font-size: 11px;
  color: #404040;
}

.sub-first-icon {
    display: inline-block;
    background-position-x: -382px;
    background-position-y: -213px;
	width: 26px;
    height: 26px;
    margin: -3px 0 0 3px;
}

.sub-second {
    display: inline-block;
    background-position-x: -333px;
    background-position-y: -267px;
    width: 60px;
    height: 10px;
    margin-right: 7px;
}

.sub-second:hover {
  background-position-x: -257px;
  background-position-y: -296px;
}

.sub-second::after {
  margin: 0px 67px !important;
}

.sub-third {
    display: inline-block;
    background-position-x: -257px;
    background-position-y: -308px;
    width: 34px;
    height: 11px;
    margin-left: 7px;
}

.sub-third:hover {
  background-position-x: -380px;
  background-position-y: -199px;
}

.logo {
    margin-right: 1.5rem;
}

.logo-naver {
    background-position-x: 0px;
    background-position-y: -158px;
    display: inline-block;
    width: 222px;
    height: 52px;
}

.search {
    position: relative;
    width: 582px;
    height: 52px;
    background-color: #FFF;
    border: 2px solid #19CE60;
    border-radius: 2px;
}

.search form {
    position: relative;
    height: 100%;
}

.search form input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 444px;
    padding: 13px 15px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: 0;
}

.search form .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    background-color: #19CE60;
    border: none;
}

.search-icon {
    display: inline-block;
    background-position-x: 0px;
    background-position-y: -386px;
    width: 22px;
    height: 22px;
}

.gnb-section {
  position: relative;
  box-shadow: 0px 0px 5px #DDD;
}

.gnb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 1130px;
  padding: 10px 0px;
}

.category {
    position: relative;
}

.category ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.3px;
}

.green-category {
  display: flex;
}

.green-category li, .black-category li {
  margin-left: 12px;
}

.green-category li a {
    display: block;
    color: #03C75A;
    padding: 5px 0;
}

.mail-icon {
    display: inline-block;
    background-position-x: -48px;
    background-position-y: -386px;
    vertical-align: middle;
    width: 20.5px;
    height: 21px;
    margin-right: 9px;
}

.black-category {
    margin-left: 12px;
}

.black-category li a {
  display: block;
  color: #000;
  padding: 5px 0;
}

.more {
    margin-left: 17px;
}

.more .more-text {
    font-size: 13px;
    color: #202020;
    text-align: right;
}

.more .more-arrow {
    content: '';
    display: inline-block;
    background-position-x: -222px;
    background-position-y: -281px;
    width: 11px;
    height: 7px;
    margin-left: 4px;
}

.more:hover .more-text {
    text-decoration: underline;
}

.container {
    position: relative;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: 1.5fr 1fr; */
}

.inner-container {
    display: inline-flex;
    flex-direction: row;
    width: 1130px;
}

.left-container {
    width: 750px;
    margin: 1rem 1rem 0 0;
}

.ad-img1 {
    position: relative;
    width: 100%;
    border: 1px solid #DDD;
}

.ad-img1 > img {
    display: inline-block;
    width: 100%;
}

.news-contents {
    position: relative;
    display: flex;
    flex-direction: column;
}

.news-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    padding: 12px 15px 11px 15px;
    margin-top: 12px;
}

.news-header-inner {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.news-header-link {
    font-weight: 700;
    color: #000;
    margin-right: 7px;
}

/* ㅠㅠㅠㅠ */
/* .news-header-link::after { */
.news-header-link span {
    /* content: ''; */
    display: inline-block;
    background-position-x: -327.5px;
    background-position-y: -296px;
	width: 5px;
	height: 9px;
}

.news-header-lists {
    width: 310px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-header-lists > a {
    color: #202020;
}
.news-header-lists > a:hover {
    text-decoration: underline;
}

.news-header-category a {
    font-size: 13px;
    font-weight: 700;
    color: #202020;
    margin: 0 4px 0 7px;
}

.news-naver {
    color: #3565c9 !important;
    margin: 0 !important;
}

.news-naver::after {
    width: 3px;
    height: 3px;
    margin-left: 8px;
    vertical-align: 3px;
}

/* news-contents BODY */
.news-body-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 16px;
}

.news-body-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.news-body-stand {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-weight: 700;
    margin-right: 10px;
}

.news-body-stand span:nth-of-type(1) {
    display: inline-block;
    background-position-x: -228px;
    background-position-y: -296px;
	width: 26.5px;
	height: 23.5px;
    margin: -6px 1px 0 0;
}

.news-body-stand span:nth-of-type(2) {
    display: inline-block;
    background-position-x: -410px;
    background-position-y: -213px;
	width: 7px;
	height: 11px;
    margin-left: 6px;
}

.news-body-tabs a {
    color: #505050;
    font-size: 14px;
}

.news-body-tabs a.subscription::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #c8ccd1;
    border-radius: 50%;
    margin: 0 4px 0 8px;
    vertical-align: 3px;
}

.news-body-tabs .tab-on {
    color: #000;
    font-weight: 700;
}

.news-body-view-methods a {
    margin: 0 6px;
}

.view-list-method {
    display: inline-block;
    background-position-x: -420px;
    background-position-y: -350px;
	width: 14px;
	height: 13px;
}

.view-list-block {
    display: inline-block;
    background-position-x: -420px;
    background-position-y: -395px;
	width: 13px;
	height: 13px;
}

.view-setting {
    display: inline-block;
    background-position-x: -420px;
    background-position-y: -295px;
	width: 15px;
	height: 15px;
}

.news-body-swiper-thumnails {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: #fff;
    border-top: 1px solid #e4e8eb;
    border-right: 1px solid #e4e8eb;
    border-left: 1px solid #e4e8eb;
}

.news-body-swiper-thumnails a {
    color: #000;
}

.swiper-prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -22px;
    margin-left: -22px;
    display: inline-block;
    background-position-x: 0;
    background-position-y: -296px;
	width: 44px;
	height: 44px;
}

.swiper-nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -22px;
    margin-right: -22px;
    display: inline-block;
    background-position-x: -92px;
    background-position-y: -296px;
	width: 44px;
	height: 44px;
}

.swiper-thumbnail {
    padding: 23px 0 22px;
    text-align: center;
    border-right: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
}

.today-contents {
    margin-top: 35px;
}

.today-header {
    display: flex;
    flex-direction: column;
}

.today-header-inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
}

.today-header-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-right: 8px;
}

.today-header-dsc {
    font-size: 12px;
    color: grey;
}

.today-header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.today-header-info-total {
    color: gray;
}

.today-header-info-total strong {
    color: #000;
}

.today-header-info-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: #505050;
}

.today-header-info-setting > span {
    display: inline-block;
    background-position-x: -345px;
    background-position-y: -308px;
    width: 11px;
    height: 11px;
    margin: -3px 4px 0 0;
    opacity: 0.7;
}

.today-theme-menu-inner-container {
    position: relative;
}

.today-theme-prevBtn {
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -18px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -128px -342px;
    z-index: 5;
}

.today-theme-nextBtn {
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -18px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -86px -342px;
    z-index: 5;
}

.today-theme-menu-wrap {
    position: relative;
    height: 49px;
}

.today-theme-menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    line-height: 49px;
}

.theme-on {
    background-color: #e65da0 !important;
    color: #fff !important;
    border: 1px solid #e65da0 !important;
}

.today-theme-menu .today-theme-menu-item {
    width: 12.5%;
    height: 100%;
    background-color: #fff;
}

.today-theme-menu .today-theme-menu-item a {
    color: #000;
    display: block;
    height: 100%;
    border-top: 1px solid #dae1e6;
    border-bottom: 1px solid #dae1e6;
    border-right: 1px solid #dae1e6;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}

.today-theme-menu .today-theme-menu-item:hover a {
    color: #e65da0;
}

.today-body {
    width: 100%;
}

.today-body-inner {
    display: flex;
    flex-direction: row;
    padding: 22px 0 18px;
}

.today-title {
    color: #e65da0;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.today-subtitle {
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.today-left, .today-right {
    width: 50%;
}

.today-left-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.today-left-thumbnail {
    flex-shrink: 0;
    width: 100%;
    height: 180px;
}

.today-left-thumbnail > img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.today-left-info {
    padding: 16px 18px 0 0;
}

.today-left-subtitle {
    margin-top: 6px;
}

.today-left-subtitle {
    max-height: 42px;
    margin-top: 5px;
    font-size: 13px;
    color: #404040;
    line-height: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.today-right {
    padding-left: 22px;
}

.today-right-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.today-right-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 14px;
}

.today-right-item:nth-of-type(1) { margin-top: 0; }

.today-right-thumbnail {
    flex-shrink: 0;
    width: 98px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 18px; 
}

.today-right-info {
    padding: 4px 47px 0 0;
    overflow: hidden;
}

.today-right-subtitle {
    margin-top: 4px;
}

.right-container {
    width: 380px;
    margin: 1rem 0 0 1rem;
    background-color: skyblue;
}

.account {
    position: relative;
    padding: 16px 16px 12px 17px;
    background-color: #F7F9FA;
    border: 1px solid #dae1e6;
}

.account-intro {
    padding-left: 3px;
    color: gray;
}

.account-btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: #19ce60;
    border: 1px solid #15c654;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: 11px;
}

.account-logo-icon {
    display: inline-block;
    background-position-x: -209px;
    background-position-y: -267px;
	width: 60px;
	height: 12px;
    margin: 2px 5px 0 0;
}

.account-etc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 8px 0 4px;
}

.account-etc a {
    color: #404040;
}

.account-find-wrap a {
    font-size: 12px;
}

.account-id::after {
    width: 3px;
    height: 3px;
    margin: 0 2px 0 5px;
    vertical-align: 3px;
}

.account-id-icon {
    display: inline-block;
    background-position-x: -408px;
    background-position-y: -55px;
    width: 10px;
    height: 14px;
    margin: -1px 1px 1px;
}

.account-join-icon {
    display: inline-block;
    background-position-x: -306px;
    background-position-y: -308px;
    width: 11px;
    height: 11px;
}

.timeline-swiper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    background-color: #FFF;
    border: 1px solid #dae1e6;
    margin: 12px 0;
    padding: 15px 16px 14px 16px;
}

.timeline-swiper-btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-wrap {
    display: flex;
    flex-direction: row;
    border: 1px solid #e4e8eb;
    height: 24px;
}

.btn-wrap .prev-btn,
.btn-wrap .next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-btn {
    width: 24px;
    height: 100%;
    background-color: #FFF;
    border-right: 1px solid #e4e8eb;
}

.prev-btn > span {
    display: inline-block;
    background-position-x: -343px;
    background-position-y: -296px;
    width: 6px;
    height: 9px;
}

.next-btn {
    width: 24px;
    height: 100%;
    background-color: #FFF;
}

.next-btn > span {
    display: inline-block;
    background-position-x: -327px;
    background-position-y: -296px;
    width: 6px;
    height: 9px;
}

.trend-body-swiper-btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 8px;
}

.trend-body-swiper {
    padding: 0 8px;
}

.trend-body-swiper-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trend-item {
    width: 33.3%;
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    padding-right: 5px;
}

.trend-item-thumbnail {
    display: inline-block;
    width: 100%;
    height: 146px;
}

.trend-item-info {
    margin-top: 5px;
}

.trend-item-title {
    font-weight: 700;
}

.ad-img2 {
    width: 100%;
}
.ad-img2 > img {
    display: inline-block;
    width: 100%;
}